/* linear-gradient(#68b8d7, #adc1de); */
body {
	margin: 0;
	background: rgb(104, 184, 215);
	/* background: linear-gradient(
		180deg,
		rgba(104, 184, 215, 1) 0%,
		rgba(104, 184, 215, 1) 13%,
		rgba(255, 255, 255, 1) 100%
	); */
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	display: block;
}

.extra-info {
	position: absolute;
	display: flex;
	z-index: 2;
	margin: 0;
	width: 100%;
	background: transparent;
}

h3 {
	margin: 5px 10px;
	width: 20%;
	color: rgb(180, 163, 137);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.search {
	top: 5%;
	position: absolute;
	width: 100%;
	z-index: 1;
	border: none;
	/* border:1px solid #fff ; */
}

/* input */

input {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	position: absolute;
	font-size: 30px;
	color: #68eda1;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background: transparent;
	padding: 0 0 10px 0;
	width: 200px;
	height: 50px;
	border: none;
	text-align: center;
	border: none;
	/* border:1px solid #ff0000 ; */
}

input:focus {
	outline: none;
	/* border:1px solid #00ff00 ; */
}

/* active state */

input:focus ~ label,
input:valid ~ label {
	font-size: 14px;
	color: rgb(0, 255, 0);
}

/* BOTTOM BARS ================================= */

.bar {
	width: 200px;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: rgb(0, 255, 0);
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
	width: 150px;
	bottom: -20px;
}

#menu {
	position: absolute;
	z-index: 5;
	bottom: 20px;
	width: 80%;
	left: 10%;
	right: 10%;
	text-align: center;
}

.element {
	width: 206px;
	height: 268px;
	/* width: 120px;
	height: 160px; */
	/* box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5); */
	/* border: 1px solid rgba(127, 255, 255, 0.25); */
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	cursor: default;
}

.img {
	height: 100%;
	width: 100%;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0, 255, 0, 1);
	border: 1px solid rgba(0, 255, 0, 1);
}

.element .title {
	position: absolute;
	top: 15px;
	left: 10%;
	right: 10%;
	font-weight: 555;
	font-size: 14px;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.element .symbol {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	font-size: 60px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 10px rgba(0, 255, 0, 0.95);
}

.element .details {
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
	font-size: 12px;
	color: #68eda1;
}

button {
	cursor: pointer;
	text-transform: uppercase;
	color: white;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	background: transparent;
	outline: 1px solid rgba(0, 255, 0, 1);
	border: 0px;
	padding: 5px 10px;
	width: 33px;
	height: 33px;
}

button:hover {
	background-color: rgba(76, 175, 80, 0.5);
}

button:active {
	color: #000000;
	background-color: rgba(0, 255, 0, 1);
}

.box {
	color: rgba(0, 255, 0, 1);
	cursor: pointer;
	text-transform: uppercase;
	background: transparent;
	border: 0px;
	padding: 10px 10px;
	width: 33px;
	height: 33px;
	cursor: pointer;
}

.box:hover {
	cursor: pointer;
}

.g-check {
	background-color: transparent;
	transition: background-color 0.25s ease-in;
}

.g-check.checked {
	background-color: rgb(0, 255, 0);
}

.whole-p {
	z-index: 4;
	bottom: 20px;
	left: 3%;
	position: absolute;
	display: flex;
	width: 200px;
}
.whole-p > div {
	width: 50%;
	text-align: center;
}

a {
	color: black;
	margin: 1px;
	text-decoration: none;
	float: left;
	width: 40%;
	line-height: 300%;
	border: #00ff00 solid 1px;
}
a:hover {
	cursor: pointer;
}

.inner-l {
	height: 80%;
}

.reset {
	bottom: 20px;
	right: 3%;
	color: black;
	position: absolute;
	z-index: 9;
	width: 100px;
}

.pos {
	color: black;
	bottom: 20px;
	left: 3%;
	position: absolute;
	z-index: 9;
	width: 100px;
}

.pos > a {
	height: 100%;
	width: 80%;
	left: 0;
	text-align: center;
	float: left;
}
.pos > a:hover {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}
